h1,
h2,
h3,
h4,
h5 {
  @apply mb-2;
  @apply mt-4;
}

/*! purgecss start ignore */
h6 {
  @apply flex;
  @apply border-b;
  @apply border-solid;
  @apply border-gray-dark;

  & > strong {
    @apply font-thin;
    @apply text-sm;
    @apply px-2;
    @apply py-1;
    @apply mt-4;
    @apply text-white;
    background-color: #2e3440;
  }

  & + pre {
    @apply mt-0 !important;
  }
}

a:not(.tag-link) {
  @apply text-primary;
  @apply underline;
  @apply cursor-pointer;
}

iframe {
  @apply mt-4;
  @apply mb-2;
  @apply mx-auto;

  & + p {
    @apply text-center;
    @apply mt-2-rev;
    & > em {
      @apply text-sm;
    }
  }
}

/*! purgecss end ignore */

blockquote {
  @apply text-gray-medium;
  @apply my-4;
  @apply py-1;
  @apply px-2;
  @apply border-l-4;
  @apply border-gray-dark;
  @apply border-solid;
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

ol,
ul {
  @apply ml-8;
}

li,
p {
  @apply font-thin;
  @apply leading-7;
  @apply text-lg;
}

/*! purgecss start ignore */
:not(pre) > code {
  @apply text-secondary;
  @apply rounded;
  @apply px-1;
  @apply font-thin;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

/*! purgecss end ignore */
