<ng-container *ngIf="blog$ | async as vm;">
  <app-all-blogs-btn></app-all-blogs-btn>
  <app-theme-toggler
    positionClass="transform translate-y-3 inline-block lg:translate-y-0 lg:fixed lg:right-1"
  ></app-theme-toggler>
  <h1 class="text-center text-4xl font-bold mb-6">{{ vm.content?.title }}</h1>

  <div *ngIf="vm.loading" class="progress progress-infinite">
    <div class="progress-bar3"></div>
  </div>

  <!-- This is where Scully will inject the static HTML -->
  <scully-content></scully-content>
  <!-- This is where Scully will inject the static HTML -->
  <h4 class="italic text-lg mt-4">Published on {{ vm.content?.publishedDate | date: 'mediumDate' }}</h4>
  <hr />
  <div class="flex flex-row items-center my-4">
    <a
      class="tag-link px-4 py-2 rounded-full border border-text text-center cursor-pointer transition-colors duration-200 ease-in-out hover:text-primary"
      [class.ml-1]="!first"
      *ngFor="let tag of vm.content?.tags; let first = first"
      [routerLink]="['/tag', tag.toLowerCase()]"
    >
      {{ tag }}
    </a>
  </div>
  <div [appUtterances]="isProd"></div>

</ng-container>
