h1,
h2,
h3,
h4,
h5 {
  @apply mb-2 mt-8;
}

strong {
  @apply font-bold;
}

h6 {
  @apply flex border-b border-solid border-gray-dark;

  & > strong {
    @apply font-thin text-sm px-2 py-1 mt-4;
  }

  & + pre {
    @apply mt-0;
  }
}

a:not(.tag-link) {
  @apply text-primary underline cursor-pointer;
}

iframe {
  @apply mt-4 mb-2 mx-auto max-w-full min-h-full;

  & + p {
    @apply text-center mt-2-rev;
    & > em {
      @apply text-sm;
    }
  }
}

blockquote {
  @apply text-gray-medium my-4 py-1 px-2 border-l-4 border-gray-dark border-solid;
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

ol,
ul {
  @apply ml-8 my-4;
  & li:not(:last-of-type) {
    @apply mb-2;
  }
}

li,
p {
  @apply font-thin leading-7 text-lg;
}

p {
  @apply my-4;

  & > img {
    @apply mx-auto;
  }

  & > img ~ em {
    @apply block text-center text-sm;
  }

  & > span > img {
    @apply inline-block;
  }
}

@screen md {
  p > img {
    max-width: 75%;
  }
}

iframe {
  @apply w-full min-h-128;
}

:not(pre) > code {
  @apply text-secondary rounded px-1 font-thin break-words;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: inherit;
}

table {
  @apply block w-full overflow-auto;
  border-spacing: 0;
  border-collapse: collapse;

  & th {
    @apply font-semibold;
  }

  & td,
  & th {
    @apply px-1.5 py-3.5 border border-solid border-gray-300;
  }

  & tr {
    @apply border-t border-solid border-gray-400 transition-colors;
    background-color: var(--background-color);
  }

  & tr:nth-child(2n) {
    background-color: var(--table-even-row);
  }
}

:host ::ng-deep .utterances {
  max-width: 100% !important;
}

$green: #4cd964;
$turquoise: #5ac8fa;
$blue: #007aff;
$light-blue: #7dc8e8;
$purple: #5856d6;
$red: #ff2d55;

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.25rem;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

  .progress-bar3 {
    height: 0.5rem;
    border-radius: 0.25rem;
    background-image: linear-gradient(
      to right,
      $green,
      $turquoise,
      $blue,
      $light-blue,
      $purple,
      $red
    );
    transition: 0.4s linear;
    transition-property: width, background-color;
  }
}

.progress-infinite .progress-bar3 {
  width: 100%;
  background-image: linear-gradient(
    to right,
    $green,
    $turquoise,
    $blue,
    $light-blue,
    $purple,
    $red
  );
  animation: colorAnimation 1s infinite;
}

@keyframes colorAnimation {
  0% {
    background-image: linear-gradient(
      to right,
      $green,
      $turquoise,
      $blue,
      $light-blue,
      $purple,
      $red
    );
  }
  20% {
    background-image: linear-gradient(
      to right,
      $turquoise,
      $blue,
      $light-blue,
      $purple,
      $red,
      $green
    );
  }
  40% {
    background-image: linear-gradient(
      to right,
      $blue,
      $light-blue,
      $purple,
      $red,
      $green,
      $turquoise
    );
  }
  60% {
    background-image: linear-gradient(
      to right,
      $light-blue,
      $purple,
      $red,
      $green,
      $turquoise,
      $blue
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      $purple,
      $red,
      $green,
      $turquoise,
      $blue,
      $light-blue
    );
  }
}
