h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

:root .theme-dark {
  --primary: theme('colors.yellow.500');
  --secondary: theme('colors.purple.500');
  --background-color: theme('colors.gray.800');
  --text-color: theme('colors.white');
  --gray-light: theme('colors.gray.300');
  --gray-medium: theme('colors.gray.400');
  --gray-dark: theme('colors.gray.500');
}

:root .theme-light {
  --primary: theme('colors.purple.600');
  --secondary: theme('colors.yellow.600');
  --background-color: theme('colors.white');
  --text-color: theme('colors.black');
  --gray-light: theme('colors.gray.500');
  --gray-medium: theme('colors.gray.600');
  --gray-dark: theme('colors.gray.700');
}
