.theme-dark {
  --primary: #ecc94b;
  --secondary: #9f7aea;
  --background-color: #2d3748;
  --text-color: #fff;
  --gray-light: #edf2f7;
  --gray-medium: #cbd5e0;
  --gray-dark: #cbd5e0;
}

.theme-light {
  --primary: #805ad5;
  --secondary: #d69e2e;
  --background-color: #fff;
  --text-color: #000;
  --gray-light: #cbd5e0;
  --gray-medium: #718096;
  --gray-dark: #4a5568;
}
